body{
    color: rgb(145, 7, 7);
    text-align: center;
    font-family: Arial;
    background-color: rgb(218, 220, 221);
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(255, 0, 0);
    margin: 0 auto;
    background-color: aliceblue;
}

#container h1
{
    font-size: 20px;
}